@import url(./reset.css);
@import url(./common.css);

.wrap {
  position: relative;
  z-index: 0;
  width: 100%;
  /* overflow: hidden; */
  /* ! hidden 을 넣으면 밑에 position: sticky가 적용이 안 됨 */
}

header {
  position: fixed;
  z-index: 990;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.25s ease-in-out;
}

.side_menu_click {
  position: fixed;
  z-index: 995;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(15,0,80,0.95);
  transition: 0.25s ease-in-out;
  transform: translateX(100vw);
  opacity: 0;
}

.side_header {
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 996;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side_logo {
  position: relative;
  z-index: 996;
  width: 130px;
}

.close_btn {
  position: relative;
  z-index: 996;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.close_btn::before {
  content: "";
  position: absolute;
  z-index: 996;
  width: 40px;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg); 
}

.close_btn::after {
  content: "";
  position: absolute;
  z-index: 996;
  width: 40px;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg); 
}

.side_text {
  position: relative;
  z-index: 996;
  width: 100%;
  padding-top: 100px;
}

.side_text>li {
  position: relative;
  z-index: 996;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
}

.side_line {
  width: 400px;
  opacity: 0;
}

.side_text li:nth-child(1) .side_line {
  opacity: 1;
}

.side_line .line {
  width: 90%;
  height: 1px;
  background-color: white;
}

.side_bold {
  position: relative;
  z-index: 996;
  width: 300px;
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.side_bold p {
  position: absolute;
  z-index: 996;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  width: auto;
}

.side_text li:nth-child(1) .side_bold p {
  opacity: 1;
}

.side_re {
  display: none;
}

.side_text li:nth-child(1) .side_re {
  display: flex;
}

.side_re li {
  padding-right: 50px;
}

.side_re a {
  position: relative;
  z-index: 996;
  font-size: 24px;
  color: white;
}

.side_re a::after {
  content: "";
  position: absolute;
  z-index: 996;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: white;
  display: none;
}

.side_re a:hover::after {
  display: block;
}

.white_bg {
  position: absolute;
  z-index: 899;
  width: 100%;
  height: 280px;
  background-color: white;
  top: 0;
  left: 0;
  display: none;
}

.black_line {
  position: absolute;
  z-index: 990;
  width: 100vw;
  height: 1px;
  top: 80px;
  background-color: rgba(150, 150, 150, 0.5);
  display: none;
}

.logo {
  position: relative;
  z-index: 992;
  width: 130px;
}

.black_logo {
  position: absolute;
  z-index: 992;
  top: 0;
  left: 0;
  display: none;
}

.menu_wrap {
  position: absolute;
  z-index: 991;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
}

.menu_container {
  position: relative;
  top: 0;
  z-index: 991;
  height: 80px;
  display: flex;
  justify-content: center;
}

.menu {
  position: relative;
  z-index: 992;
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu_text {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.sub_menu {
  position: absolute;
  z-index: 992;
  width: 100%;
  height: 200px;
  top: 80px;
  padding: 20px 0;
  display: none;
}

.menu_container:hover .menu_text {
  color: black;
}

.menu_container:hover .sub_menu {
  display: block;
}

.menu:hover > .menu_text {
  background-color: #6400FF;
  color: white;
}
.menu:hover > .sub_menu {
  background-color: #6400FF;
}
.menu:hover > .sub_menu a{
  color: white;
}

.menu:hover {
  border-bottom: 1px solid #CCB5FF;
}

.sub_menu a {
  position: relative;
  z-index: 992;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

.sub_menu p {
  position: relative;
  height: 25px;
  display: flex;
  align-items: center;
}

.sub_menu p::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: white;
  display: none;
}

.sub_menu p:hover::after {
  display: block;
}

.side {
  position: relative;
  z-index: 991;
  width: 160px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side>div {
  position: relative;
  z-index: 992;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side>div>img {
  width: 30px;
  position: relative;
  z-index: 992;
}

.language_text {
  position: absolute;
  z-index: 992;
  top: 80px;
  left: 0;
  height: 120px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 25px;
  font-weight: 600;
  background-color: #6400FF;
  display: none;
}

.language_text li {
  position: relative;
  z-index: 992;
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.language_text li p {
  height: 30px;
}

.language_text li:nth-child(2) p{
  color: rgba(255, 255, 255, 0.5);
}

.language:hover {
  background-color: #6400FF;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}

.language:hover .language_text {
  display: block;
}

.language_text li:nth-child(1):hover>p {
  border-bottom: 2px solid white;
}
.language_text li:nth-child(2):hover>p {
  border-bottom: 2px solid white;
  color: white;
}

/*! header end */

.body_wrap {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
}

/* ! section_1 start */

.section_1 {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_1 img  { 
  position: absolute;
  z-index: 0;
  width: 100%;
}

.section_1 .text_container {
  position: relative;
  z-index: 1;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

.section_1 .main_text {
  font-size: 120px;
  font-weight: bold;
  background: linear-gradient(90deg, #AB86FF 0%, #6400FF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* ! 위 3항은 글자에 그라데이션을 넣는 방법 */
  transform: translateX(200px);
  opacity: 0;
}

.section_1 .sub_text {
  padding: 30px 0 80px 0;
  line-height: 30px;
  font-size: 24px;
  color: white;
  font-weight: 500;
  transform: translateX(200px);
  opacity: 0;
}

/* ! section_1 end */

.section_2 {
  position: relative;
  z-index: 0;
  width: 100%;
}

.section_2 .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_2 .text_container {
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.section_2 .text_container .left_box .main_text {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.33;
  padding-top: 20px;
  word-spacing: -8px;
  letter-spacing: -4px;
}

.section_2 .text_container .right_box {
  position: absolute;
  z-index: 0;
  height: 100%;
  right: 0;
  display: flex;
  align-items: flex-end;
}

.section_2 .text_container .right_box .company_btn {
  position: relative;
  z-index: 0;
  width: 175px;
  height: 50px;
  border: 1px solid black;
  display: flex;
}

.section_2 .text_container .right_box .company_btn .text_wrap {
  position: relative;
  z-index: 0;
  width: 130px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.section_2 .text_container .right_box .company_btn .arrow_wrap {
  position: relative;
  z-index: 0;
  width: 45px;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid black;
}

.section_2 .text_container .right_box .company_btn .arrow_wrap >div {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_2 .text_container .right_box .company_btn .arrow_wrap .arrow_inbox_white {
  display: none;
  animation: arrow_ani 0.5s ease-in-out infinite backwards;
}

.section_2 .text_container .right_box .company_btn .arrow_wrap .arrow {
  position: relative;
  z-index: 1;
  width: 45px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_2 .text_container .right_box .company_btn .arrow_wrap .arrow img {
  width: 20px;
}

.section_2 .text_container .right_box .company_btn:hover {
  border: 1px solid #6400FF;
}

.section_2 .text_container .right_box .company_btn:hover .text_wrap {
  color: #6400FF;
}

.section_2 .text_container .right_box .company_btn:hover .arrow_wrap {
  background-color: #6400FF;
  border-left: 1px solid #6400FF;
}

.section_2 .text_container .right_box .company_btn:hover .arrow_wrap .arrow_inbox_black {
  display: none;
}

.section_2 .text_container .right_box .company_btn:hover .arrow_wrap .arrow_inbox_white {
  display: flex;
}

@keyframes arrow_ani {
  form {
    transform: translateX(0);
  }
  to {
    transform: translateX(45px);
  }
}

.section_2 .contents_container {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
}

.section_2 .contents_container .left_contents, .section_2 .contents_container .right_contents {
  width: 660px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.section_2 .contents_container .right_contents {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  /* transition-delay: 0.5s; */
}

.section_2 .contents_container img {
  height: 200px;
}

.section_2 .contents_container .main_text {
  padding-top: 26px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}

.section_2 .contents_container .sub_text {
  padding-top: 24px;
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

/* ! section_2 end */

.section_3 {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 2911px;
}

.section_3 .image_wrap {
  position: sticky;
  z-index: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
}

.section_3 .image_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.25s ease-in-out;
}

.section_3 .inner {
  position: absolute;
  z-index: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.section_3 .left_container {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section_3 .left_container .main_text {
  color: white;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  padding-top: 20px;
  letter-spacing: -5px;
  word-spacing: -2px;
}

.section_3 .left_container .view_btn {
  position: relative;
  z-index: 1;
  width: 130px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  margin-top: 80px;
}

.section_3 .left_container .view_btn .text_wrap {
  position: relative;
  z-index: 1;
  width: 85px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.section_3 .left_container .view_btn .arrow_wrap {
  position: relative;
  z-index: 1;
  width: 45px;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid white;
}

.section_3 .left_container .view_btn .arrow_wrap >div {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_3 .left_container .view_btn .arrow_wrap .arrow_inbox_white {
  display: none;
  animation: arrow_ani 0.5s ease-in-out infinite backwards;
}

.section_3 .left_container .view_btn .arrow_wrap .arrow {
  position: relative;
  z-index: 1;
  width: 45px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_3 .left_container .view_btn .arrow_wrap .arrow img {
  width: 20px;
}

.section_3 .left_container .view_btn:hover {
  border: 1px solid #6400FF;
}

.section_3 .left_container .view_btn:hover .text_wrap {
  color: #6400FF;
}

.section_3 .left_container .view_btn:hover .arrow_wrap {
  background-color: #6400FF;
  border-left: 1px solid #6400FF;
}

.section_3 .left_container .view_btn:hover .arrow_wrap .arrow_inbox_black {
  display: none;
}

.section_3 .left_container .view_btn:hover .arrow_wrap .arrow_inbox_white {
  display: flex;
}

@keyframes arrow_ani {
  form {
    transform: translateX(0);
  }
  to {
    transform: translateX(45px);
  }
}

.section_3 .right_container {
  position: relative;
  z-index: 1;
  padding-top: 200px;
  padding-bottom: 100vh;
  display: flex;
  justify-content: space-between;
  width: 850px;
}

.section_3 .right_container .left_wrap {
  width: 400px;
}

.section_3 .right_container .right_wrap {
  width: 400px;
  padding-top: 250px;
}

.section_3 .right_container .contents {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 100px;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  transition: 0.25s ease-in-out;
}

.section_3 .right_container .contents .num_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
}

.section_3 .right_container .contents .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
}

.section_3 .right_container .contents .line {
  width: 1px;
  height: 40px;
  background-color: white;
  margin: 12px 8px;
}

.section_3 .right_container .contents .eng_text {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  word-spacing: -8px;
  letter-spacing: -1px;
}

.section_3 .right_container .contents .sub_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 20px;
}

.section_3 .right_container .contents .contents_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 24px;
  margin-top: 20px;
  color: white;
}

.section_3 .right_container .contents .contents_btn .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.section_3 .right_container .contents .contents_btn .arrow {
  width: 24px;
}

/* ! section_3 end */


