/*! 1400px */
@media screen and (max-width: 1400px) {
  header {
    height: 90px;
  }

  .logo img {
    width: 150px;
  }

  .menu_wrap a {
    padding: 0 22px;
  }

  /* header end */

  .section_1 .inner .bold_text {
    font-size: 50px;
  }

  .section_1 .inner .re_text {
    font-size: 20px;
  }

  .section_1 .look_more {
    padding-top: 30px;
  }
  .section_1 .look_more a {
    width: 180px;
    height: 55px;
    font-size: 16px;
    padding: 0 20px;
  }

  /* section_1 end */

  .section_2 {
    padding: 120px 0;
  }

  .section_2 .text_wrap {
    font-size: 34px;
  }

  .section_2 .text_content {
    padding: 30px;
  }

  .section_2 .text_content .bold_text {
    font-size: 24px;
  }

  /* section_2 end */

  .section_3 {
    padding-bottom: 120px;
  }

  .section_3 .left_wrap {
    font-size: 38px;
    width: auto;
    min-width: 360px;
  }

  .section_3 .right_wrap {
    min-width: 620px;
  }

  .section_3 .right_wrap .bold_text {
    font-size: 24px;
    padding-bottom: 30px;
  }

  .section_3 .about {
    padding: 50px 0 0;
  }

  /* section_3 end */

  .section_4 .content_box > a {
    padding: 30px;
  }

  .section_4 .bold_text {
    font-size: 24px;
  }

  .section_4 .re_text {
    font-size: 16px;
  }

  .section_4 .content_box > a > img {
    width: 70%;
  }

  /* section_4 end */
}

/*! 1000px */

@media screen and (max-width: 1000px) {
  header {
    height: 70px;
  }

  .logo img {
    width: 120px;
  }

  .menu_wrap {
    display: none;
  }

  .menu_gnb {
    display: block;
  }

  /* header end */

  .section_1 {
    max-height: 800px;
  }

  .section_1 img {
    width: auto;
    min-width: auto;
    height: 100%;
  }

  .section_1 .inner .bold_text {
    font-size: 42px;
  }

  .section_1 .inner .re_text {
    font-size: 17px;
  }

  /* section_1 end */

  .section_2 {
    padding: 100px 0;
  }

  .section_2 .text_wrap {
    font-size: 30px;
  }

  .section_2 .img_wrap {
    flex-direction: column;
    align-items: center;
  }

  .section_2 .right_wrap {
    padding: 0;
    width: 100%;
    max-width: 680px;
  }

  .section_2 .content_wrap {
    padding: 10px 0 10px 0;
    width: 100%;
    max-width: 680px;
  }

  .section_2 .left_wrap {
    padding-top: 0;
  }

  .section_2 .text_content .bold_text {
    font-size: 22px;
  }

  .section_2 .text_content .re_text {
    font-size: 16px;
  }

  .section_2 .content_wrap a:hover::after {
    opacity: 0;
  }
  
  .section_2 .content_wrap a:hover > img {
    transform: none;
  }

  /* section_2 end */

  .section_3 {
    padding-bottom: 100px;
  }
  .section_3 .inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section_3 .left_wrap {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    font-size: 34px;
  }

  .section_3 .right_wrap {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_3 .right_wrap .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_3 .about a:hover .next_icon {
    transform: translateX(-4px);
  }

  /* section_3 end */

  .section_4 {
    width: 150%;
  }

  .section_4 .content_box {
    width: 50%;
  }

  .section_4 .blue:hover {
    background-color: #eee;
  }
  
  .section_4 .red:hover {
    background-color: #eee;
  }
  
  .section_4 .yellow:hover {
    background-color: #eee;
  }
  .section_4 .content_box:hover .bold_text {
    color: black;
  }
  .section_4 .content_box:hover .re_text {
    color: black;
  }
  .section_4 .content_box:hover .read_more {
    color: black;
    border-bottom: 2px solid black;
  }

  /* section_4 end */

  footer {
    padding: 40px 0;
  }

  footer .line_3 {
    padding-top: 20px;
  }

  /* footer end */
}

/*! 768px */

@media screen and (max-width: 768px) {
  header {
    height: 60px;
  }

  /* header end */

  .section_1 .inner .bold_text {
    font-size: 36px;
  }

  /* section_1 end */

  .section_2 {
    padding: 70px 0;
  }

  .section_2 .content_wrap {
    padding: 5px 0 5px 0;
  }

  .section_2 .content_wrap a {
    overflow: hidden;
    height: 40vw;
    position: relative;
    z-index: 0;
  }

  .section_2 .content_wrap img {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    min-width: 640px;
  }

  .section_2 .text_content .bold_text {
    font-size: 20px;
  }

  /* section_2 end */

  .section_3 {
    padding-bottom: 70px;
  }

  .section_3 .left_wrap {
    font-size: 30px;
  }

  .section_3 .right_wrap .bold_text {
    font-size: 22px;
  }

  .section_3 .about {
    padding-top: 30px;
  }

  /* section_3 end */

  .section_4 {
    width: 300%;
  }

  .section_4 .content_box {
    width: 100%;
    min-height: 300px;
  }

  .section_4 .content_box > a {
    padding: 25px 20px;
    min-height: 300px;
  }

  .section_4 .bold_text {
    font-size: 20px;
  }

  .section_4 .re_text {
    font-size: 15px;
  }

  .section_4 .read_more {
    height: 40px;
    font-size: 14px;
  }

  .section_4 .content_box > a > img {
    width: 50%;
    right: 20px;
  }

  /* section_4 end */

  footer .line_1 {
    flex-direction: column;
  }

  footer .line_1 .text {
    padding-bottom: 8px;
  }

  footer .line_1 .text::after {
    display: none;
  }

  footer .line_2 {
    flex-direction: column;
  }

  footer .line_2 span {
    padding: 8px;
  }

  .top {
    right: 20px;
    bottom: 20px;
  }

  /* footer end */
}